<table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Email</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {{#each score}}
    {{> hspartials}}
    {{/each}}
  </tbody>
</table>