<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 logInForms mt-5">
      
      <h3>Welcome!</h3>
      <p>You are now logged in.</p>
      <h4 class="mt-2">Name: {{user.firstname}} {{user.lastname}} </h4>
      <h4>Email: {{user.email}}</h4>
      <br>
      <div class="text-center my-auto">
        <a class="btn btn-outline-danger btn-lg" id="playbtn" href="/game" role="button">PLAY!</a>
      </div>
    </div>
  </div>
</div>