<div class="container">
  <div class="row">
    <div class="success col-md">
      <br><br><br>
      <h1><strong>Welcome! </strong> You are logged in.</h1>

      <strong>Name: {{user.firstname}} {{user.lastname}}</strong> | <strong>Email: {{user.email}}</strong>

      <br><br><br>

      <a class="btn btn-primary" href="/game" role="button">Begin New Game</a>

      <a class="btn btn-primary" href="/logout" role="button">Sign Out</a>
    </div>
  </div>
</div>