<div class="container">
  <div class="row">
    <div class="col-md">
      <h5>You have logged in successfully.</h5>
      

      <a class="btn btn-primary" href="" role="button">Begin New Game</a>
      
      <a class="btn btn-primary" href="/logout" role="button">Sign Out</a>
    </div>
  </div>
</div>