<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 logInForms mt-5">
      
      <h1>Welcome!</h1>
      <h4 class="mt-2">Name: {{user.firstname}} {{user.lastname}} </h4>
      <h4>Email: {{user.email}}</h4>
      <br>
      <a class="btn btn-danger btn-lg text-center" href="/game" role="button">PLAY!</a>
    </div>
  </div>
</div>