<div class="container">
  <div class="row justify-content-center mx-auto mt-4">
    <div class="col-md">
      
      <h1>Welcome to NinjaBomber!</h1>

      <div class="screenshot col-7">
        <img class="posterImg img-fluid my-2" src="/images/ingameScreenshot.png" alt="In Game Screenshot">
      </div>

      <div class="description col-5">
      <h1>Game Description</h1>
      <p>How to play: Move character using the arrow keys to collect all the stars and increase your score! Avoid bombs or it will result in game over.</p>

       <img class="arrowKeys img-fluid" src="/images/arrowKeys.png" alt="arrow keys">

      
  
      </div>
  </div>
</div>
</div>