<div class="container">
  <div class="row justify-content-center mt-5 black-box">

    <div class="screenshot col-6">
      <h1 class="text-center">Welcome to NinjaBomber!</h1>
      <img class="posterImg img-fluid my-2" src="/images/ingameScreenshot.png" alt="In Game Screenshot">
    </div>

    <div class="col-6 pt-5">
      <h2>Game Description:</h2>
      <p>You are NinjaDude, your one true purpose in life is to collect stars. Collect as many stars as you can while
        avoiding bombs. Why are you being bombed? Who knows, look, just get the stars, okay?</p>

      <h4>Controls:</h4>
      <p> Move your character using the arrow keys and collect all the stars and increase your score! Avoid the bombs
        or it's game over!
      </p>

      <img class="arrowKeys mx-auto d-block" src="/images/arrowKeys.png" alt="arrow keys">
    </div>

  </div>
</div>