.list-group-item {
  line-height: 2.5;
}

/* main */
body {
  font-family: 'Merriweather', serif;
  background:url(/images/bgBOOM.jpg) no-repeat center center fixed;
  background-size: cover; 
  height: 100%;
  overflow: hidden;
}

/* header.hbs */

.navbar{
  background-color: grey;
}
.navbar-brand {
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

.signin {
  border-right: .5px solid white;
}

.signout1 {
  border-right: .5px solid white;
}

/* index.hbs */

#indexDiv {
  background-color: rgba(0, 0, 0, 0.6);
}

.screenshot {
  width: 500px;
  height: 500px;
}

h2 {
  font-family: 'Bangers', cursive;
  font-size: 32px;
  padding-top: 70px;
}

h4 {
  font-family: 'Bangers', cursive;
}
.posterImg {
  border: 2px solid black;
  float: left;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 50px;
}

.arrowKeys {
  height: 150px;
  width: 220px;
}

/* game */

canvas {
  border: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}