/* main */
body {
  font-family: 'Merriweather', serif;
  background:url(/images/bgBOOM.jpg) no-repeat center center fixed;
  background-size: cover; 
  height: 100%;
  overflow: hidden;
  color: white;
}

/* header.hbs */

.navbar-nav {
  color: white;
}

.navbar-brand {
  font-family: 'Bangers', cursive;
  font-size: 50px;
}

.nav-item {
  border-right: .5px solid #9A9DA0;
}

.playgame{
  border-right: .5px solid #9A9DA0;
}

.signin {
  border-right: .5px solid #9A9DA0;
}

/* index.hbs */

.black-box {
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid white;
}

h1 {
  padding-top: 10px;
  color: white;
}

.screenshot {
  width: 500px;
  height: 500px;
}


h2 {
  font-family: 'Bangers', cursive;
  font-size: 32px;
}

.posterImg {
  border: 2px solid black;
  float: left;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 50px;
}

.arrowKeys {
  height: 150px;
  width: 220px;
}

/* game */

canvas {
  border: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

/* sign in */
/* sign up */

.error{
  margin-bottom: 10px;
  color: #E50000;
  text-shadow: 0.5px 0.5px 5px black;
}

.logInForms{
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border: .5px solid white;
}

/* home.hbs */

#playbtn {
  font-size: 30px;
  padding: 0.4em 0.6em;
}

/* high scores */

.table{
  border: 1.5px solid white;
}

#tableTitle {
  font-family: 'Bangers', cursive;
  font-size: 40px;
}

/* logged in page */
.success {
  background-color: rgba(0, 0, 0, 0.6);
  border: .5px solid white;
  padding: 20px;
}